{% extends 'header.html' %} {% block content %}
<main>
    <div class="mt-3 mb-5">
    <h1 class="text-center">- Galería de Imágenes de la NASA -</h1>
        <div class="d-flex justify-content-center" style="margin-bottom: 1%">
            <!-- Buscador del sitio -->
            <form class="d-flex" action="{% url 'buscar' %}" method="POST">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="search_msg" placeholder="Escribí una palabra" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for imagen in images %}
        <div class="col">
            <div class="card border-0 bg-body-tertiary rounded" style="box-shadow: 10px 13px 16px 1px rgba(0,0,0,0.6) !important">
                <img src="{{ imagen.image_url}}" class="card-img-top" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">{{ imagen.title}}</h5>
                    <p class="card-text">{{ imagen.description}}</p>
                </div>
                {% if request.user.is_authenticated %}
                <div class="card-footer text-center">
                    <div class="row">
                        <div class="col-8">
                            <form method="post" action="{% url 'agregar-favorito' %}" class="h-100">
                                {% csrf_token %}
                                <input type="hidden" name="title" value="{{ imagen.title }}">
                                <input type="hidden" name="description" value="{{ imagen.description }}">
                                <input type="hidden" name="image_url" value="{{ imagen.image_url }}">
                                <input type="hidden" name="date" value="{{ imagen.date }}">
                                <textarea name="comment" class="form-control h-100" placeholder="Añadir comentario" {% if imagen in favourite_list %}disabled{% endif %}></textarea>
                        </div>
                        <div class="col-4">
                            {% if imagen in favourite_list %}
                                <button type="submit" class="btn btn-dark btn-sm w-100 h-100" style="color:white" disabled>✔ Ya está añadida a favoritos</button>
                            {% else %}
                                <button type="submit" class="btn btn-dark btn-sm w-100 mb-1" style="color:white">❤ Añadir a favoritos</button>
                            </form>
                            <form method="post" action="{% url 'marcar-no-interesante' %}">
                                {% csrf_token %}
                                <input type="hidden" name="title" value="{{ imagen.title }}">
                                <input type="hidden" name="description" value="{{ imagen.description }}">
                                <input type="hidden" name="image_url" value="{{ imagen.image_url }}">
                                <input type="hidden" name="date" value="{{ imagen.date }}">
                                <button type="submit" class="btn btn-danger btn-sm w-100" style="color:white">🚫 No es interesante</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center" style="margin-block: 100px;">
        <div class="col col-auto mb-5"> 
            <nav>
                <ul class="pagination mb-5" >
                    {% for i in q_pages %}
                        <li class="page-item me-1"><a style="color: black;" class="page-link {% if page == i %}bg-danger{% endif %}" href="{% if search_msg %}{% url 'buscar' %}?search_msg={{ search_msg }}&page={{ i }}{% else %}{% url 'home' %}?page={{ i }}{% endif %}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    
</main>
{% endblock %}